.navbar {
    background-image: linear-gradient(180deg, var(--bg-color) 10%, transparent);
    height: 70px;
}

.logo_img {
    height: 35px;
    margin-left: var(--left-margin);
}


@media (max-width: 768px) {

    /* Correspond à md */
    .nav-link {
        margin-left: var(--left-margin);
    }
}