:root {
    --left-margin: 20px;
}



.navbar {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    height: 70px;
    width: 100%;
    top: 0;
}

.navbar-collapse {
    background-color: black;
    z-index: 1000;

}

.navbar-nav {
    margin-left: var(--left-margin);
}

.nav-link {
    color: white;
    font-size: 1.2rem;

}

#text-over-bg {
    width: 100%;
    margin-left: var(--left-margin);
}


.nav-link.active {
    color: #ff3907;
}

.nav-link:hover {
    color: #ff3907;
}

.logo_img {
    height: 35px;
    margin-left: var(--left-margin);
}

body {
    background-color: black !important;

}