.line-container {
    display: flex;
    align-items: left;

}

.mystackscroll{
    overflow: scroll;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: var(--left-margin);
}
.mystackscroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari et Opera */
}

.mystack {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ScrollButtonRight {
    right: 0;
}

.ScrollButtonLeft {
    left: var(--left-margin);
}


.ScrollButton {
    background-color: transparent;
    border: none;
    height: 100%;
    z-index: 1000;
    top: 0;
    position: absolute;
    width: 50px;
}

.ScrollButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.line-title {
    margin-left: var(--left-margin);
}