.BaseImage {
    aspect-ratio: 16/9;
    height: 150px;
    transition: transform 0.5s ease;
    cursor: pointer; 
    position: relative;
}

.BaseImage:hover {
    transform: scale(1.2);
    z-index: 1000;
}

.modal-englobe {}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ZoomedImage {
    aspect-ratio: 16/9;
    width: 100%;
}

.big-image-container {
    position: relative;
}

.serie-title {
    position: absolute;
    top: 75%;
    left: 10%;
}

/* .ZoomedImage::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--bg-color) 100%, transparent);
} */

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

.close-button {
    position: absolute;
    top: 1%;
    right: 1%;
}

.custom-modal-content {
    background-color: white;
    max-width: 600px;
    max-height: 90%;
    min-width: 40%;
    overflow: auto;
    position: relative;
    background-color: var(--bg-color);
    border-radius: 10px;
}

.modal-open {
    pointer-events: none !important;
}

.rating {
    color: green;
    margin: 10px;
}

.year {
    color: lightgray;
    margin: 5px;

}

.synopsis {
    margin: 5px
}

.casting-title {
    color: gray;
}