<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">


</head>
</head>

<body>
    {% include 'home/header.html' %}

    <!-- Article Cards -->

    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <div class="card">

                    <img src="image1.jpg" class="card-img-top" alt="...">

                    <div class="card-body">

                        <h5 class="card-title">Article Title 1</h5>

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>

                        <a href="#" class="btn btn-primary">Go somewhere</a>

                    </div>

                </div>

            </div>

            <!-- Add more columns for more articles -->

        </div>

    </div>

</body>

</html>