<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    <!-- Bootstrap JavaScript -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" type="text/css">
    <script src="{% static 'home/js/script.js' %}"></script>

</head>

<body>
    {% include 'home/header.html' %}

    <div class="position-relative">
        <img class="big-bg-img img-fluid" src="{% static 'home/images/bg_01.jpg' %}" alt="">
        <div id="text-over-bg" class="position-absolute top-50 translate-middle-y" style="width: 50%;">
            <h1 class="text-white">Bienvenue sur le site de la meilleure liste </h1>
            <h4 class="text-white">Et là c'est un sous titre, genre une description un peu plus longue
                quoi
            </h4>
            <a class="btn btn-light small-text btn-sm" href="{% url 'presentations' %}">
                <!-- Il faudra à terme que le lien renvoie automatiquement vers l'article le plus récent
                mais ça se fera en  backend, de même pour l'image et le titre adapté -->

                <i class="bi bi-play-fill"></i>Lire l'article
            </a>
        </div>
    </div>


    <div class="articles-lists-container">
        <div class="row-title">
            <h2 class="text-white med-text">la première ligne</h2>
        </div>

        <div class="gradient-container">
            <!-- que pour la 1ère ligne -->
            <div class="row g-1">
                <div class="col">
                    <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 1" class="">
                </div>
                <div class="col">
                    <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 2" class="">
                </div>
                <div class="col">
                    <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
                </div>
                <div class="col">
                    <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
                </div>
                <div class="col">
                    <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
                </div>
                <div class="col">
                    <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
                </div>
                <div class="col">
                    <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
                </div>

            </div>

        </div>
        <div class="row-title">
            <h2 class="text-white med-text">Et la 2e ligne</h2>
        </div>
        <div class="row g-1">
            <div class="col">
                <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 1" class="">
            </div>
            <div class="col">
                <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 2" class="">
            </div>
            <div class="col">
                <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
            </div>
            <div class="col">
                <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
            </div>
            <div class="col">
                <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
            </div>
            <div class="col">
                <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
            </div>
            <div class="col">
                <img src="{% static 'home/images/aph.jpg' %}" alt="Thumbnail 3" class="">
            </div>

        </div>

    </div>



    </div>

    </div>
    </div>

</body>

</html>